commit.time
target.mk
make.log

beamer.tmp
my_images
web_drop
 
.*.sw*
talkdir
txt.format

*.draft.*
*.handouts.*
*.final.*

.*.RData
*.Rlog
.Rhistory
*.wrapR.*
*.pdf
*.Rout

local.mk

testdir/
.testdir/
subclone_dir/

.deps/
*.aux
copy.tex.deps
*.Rout*.png
*.log
*.deps


*.makestuff
up.time
