commit.time
target.mk

beamer.tmp
my_images
web_drop
 
.*.sw*
talkdir
txt.format

*.draft.*
*.handouts.*
*.final.*

.*.RData
*.Rlog
.Rhistory
*.wrapR.*
*.pdf
*.Rout

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
